.logo h1{
  
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo h1 span {
    font-size: 1.7rem;
  }
  